<link href="css/new-model.css" rel="stylesheet">

<ion-nav-view>

	<ion-content class="padding">
		
		<div class="div-top-text">
			<div class="row text-center">
	  			<div class="col">
	  				<span>Primeiro, escolha um modelo</span>
	  			</div>
			</div>
		</div>
		
		<div class="div-form">
			<div class="box-check">
				<i class="ion ion-ios-checkmark icon-check"></i>
			</div>
			
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
			  <ion-slide>
			    <div class="box-model">
			    	<div class="box-header"></div>
			    	<div class="box-rounded"></div>
			    	<div class="box-body">
				    	<div class="box-location"><i class="ion ion-ios-location"></i> Rio de Janeiro, RJ</div>
				    	<div class="box-name">Nome</div>
				    	<div class="box-job"><b>Cargo</b></div>
				    	<div class="box-job">Empresa</div>
			    	</div>
			    </div>
			  </ion-slide>
			  <ion-slide>
			    <div class="box-model">
			    	<div class="box-header"></div>
			    	<div class="box-rounded"></div>
			    	<div class="box-body"></div>
			    </div>
			  </ion-slide>
			  <ion-slide>
			    <div class="box-model">
			    	<div class="box-header"></div>
			    	<div class="box-rounded"></div>
			    	<div class="box-body"></div>
			    </div>
			  </ion-slide>
			</ion-slide-box>
			
		</div>
		
		<div class="div-buttons">
			<div class="row text-center">
	  			<div class="col">
	  				<a class="button button-block button-round button-positive button-large">
					  Próximo
					</a>
	  			</div>
			</div>
		</div>
		
	</ion-content>


	
</ion-nav-view>

      
    