
    
<div class="bar bar-header bar-clear">
	New account
</div>

<ion-content class="padding login-background">

	<div class="row">
		<div class="center logo">
			<img src="img/svg/logo hi.svg" alt="logo hi" />
		</div>
	</div>
	
	<div class="row text-center">
			<div class="col chamada">
				<span>Entre para o novo mundo do networking</span>
			</div>
	</div>
	
	<div class="row text-center">
		<div class="col">
			<button class="button button-block button-round button-round-light button-large">
				Entrar
			</button>
		</div>
	</div>
	
</ion-content>

      
    