
<ion-nav-view>

	<ion-content class="padding">
		
		<div class="top-bar">
			<a href="#/hi/new-model-customize" class="button button-black button-clear"><i class="ion-arrow-left-c"></i> Voltar </a>
		</div>
		
		<div class="div-top-new">
			<div class="row text-center">
	  			<div class="col">
	  				<span>Chegamos ao último passo, insira os dados do cartão.</span>
	  			</div>
			</div>
		</div>
		
		<div class="div-form">
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="Adicione telefone" class="text-box-light"/>
	  			</div>
			</div>
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="Adicione e-mail" class="text-box-light"/>
	  			</div>
			</div>
			
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="Adicione URL" class="text-box-light"/>
	  			</div>
			</div>
		</div>
		
		<div class="div-buttons">
			<div class="row text-center">
	  			<div class="col">
	  				<a class="button button-block button-round button-positive button-large" href="#/hi/new-card-success">
					  Concluir cartão
					</a>
	  			</div>
			</div>

		</div>
		
	</ion-content>

</ion-nav-view>

      
    