

<ion-nav-view>
	
	<ion-content class="padding login-background">
		
			<div class="row">
				<div class="center logo">
					<i class="ion ion-ios-checkmark-outline icon-check-big"></i>
				</div>
			</div>
			
			<div class="row text-center">
      			<div class="col call">
      				<span>Pronto!</span>
      				<p>
      				<span>Seu cartão foi criado com sucesso.</span>
      			</div>
			</div>
			
			<div class="row text-center">
      			<div class="col">
      				<button class="button button-block button-round button-round-light button-large">
					  Comece a usar
					</button>
      			</div>
			</div>
			
		</ion-content>

	
</ion-nav-view>
		
