

<ion-nav-view>

	<ion-content class="padding">
	
	<div class="top-bar">
		<a href="#/hi/new-model" class="button button-black button-clear"><i class="ion-arrow-left-c"></i> Voltar </a>
	</div>

		<div class="div-top-bar">
			<div class="row text-right">
	  			<div class="col">
	  				<button class="button button-clear button-light font-type font-type-a button-choosen">Aa</button>
	  				<button class="button button-clear button-light font-type font-type-b">Aa</button>
	  				<button class='button button-circle button-pick-collor' id="btn-pick-collor"></button>
	  			</div>
			</div>
		</div>
		
		<div class="div-form">
			
			<div class="box-model-shadow">
		    	<div class="box-header"></div>
		    	<div class="box-rounded">
		    		<div class="center-text">
		    			<p class="plus-sign">+</p>
		    			<p>Adicione uma foto</p>
		    		</div>
		    	</div>
		    	<div class="box-body">
			    	<div class="box-location"><i class="ion ion-ios-location"></i> Rio de Janeiro, RJ</div>
			    	<div class="box-name">
			    		<input type="text" rows="2" class="box-name-input" name="usrtxt" wrap="hard" placeholder="Digite seu nome">
						
					</div>
			    	<div class="box-job">
			    		<b>Cargo</b>
			    		<p>Empresa</p>
			    	</div>
		    	</div>
		    </div>
			
		</div>
		
		<div class="div-buttons">
			<div class="row text-center">
	  			<div class="col">
	  				<a class="button button-block button-round button-positive button-large" href="#/hi/new-card-data">
					  Próximo
					</a>
	  			</div>
			</div>
		</div>
		
	</ion-content>

</ion-nav-view>

      
    