<link href="css/login.css" rel="stylesheet">

<ion-nav-view>

	<ion-content class="padding">
		
		<div class="div-top-text">
			<div class="row text-center">
	  			<div class="col">
	  				<span>Ok! Vamos criar sua conta e seu cartão digital.</span>
	  			</div>
			</div>
		</div>
		
		<div class="div-form">
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="SEU NOME" class="text-box-light"/>
	  			</div>
			</div>
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="E-MAIL" class="text-box-light"/>
	  			</div>
			</div>
			
			<div class="row text-center">
	  			<div class="col">
	  				<input type="text" placeholder="SENHA" class="text-box-light"/>
	  			</div>
			</div>
		</div>
		
		<div class="div-buttons">
			<div class="row text-center">
	  			<div class="col">
	  				<a class="button button-block button-round button-positive button-large" href="#/hi/new-model">
					  Avançar
					</a>
	  			</div>
			</div>
		
		
			<div class="row text-center">
	  			<div class="col">
	  				<button class="button button-block button-round button-black button-clear button-large">
					  Cancelar
					</button>
	  			</div>
			</div>
		</div>
		
	</ion-content>


	
</ion-nav-view>

      
    