<link href="css/login.css" rel="stylesheet">

<ion-nav-view>
	
	<ion-content class="padding login-background">
		
			<div class="row">
				<div class="center logo">
					<img src="img/svg/logo hi.svg" alt="logo hi" />
				</div>
			</div>
			
			<div class="row text-center">
      			<div class="col call">
      				<span>Entre para o novo mundo do networking</span>
      			</div>
			</div>
			
			<div class="row text-center">
      			<div class="col">
      				<button class="button button-block button-round button-round-light button-large">
					  Entrar
					</button>
      			</div>
			</div>
      		
      		<div class="row text-center">
      			<div class="col">
      				<a class="button button-clear button-white " href="#/hi/new">
					  Não possui conta? <strong>Crie agora</strong>
					</a>
      			</div>
      		</div>
      		<div class="row text-center">
      			<div class="col">
      				<button class="button button-clear button-white ">
					  Esqueceu a senha?
					</button>
      			</div>
			</div>
			
		</ion-content>

	
</ion-nav-view>
		
