body{
	font-size: 22px;
    line-height: 30px;
    font-family: "Open Sans Light";
}

.div-top-text{
	height: calc(10vh);
    margin-top: calc(3vh);
}

.box-model{
	min-height: calc(60vh);
	background-color: #f8f8f8;
	width: 70%;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 20px;
}

.box-model .box-header{
	height: calc(20vh);
	background-color: #dcdbdb;
	border-radius: 10px 10px 0 0;
}

.box-model .box-rounded{
	border-radius: 50%;
    background-color: #eae7e7;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: -60px;
}

.box-check{
	text-align: right;
}

.box-model .box-body{
	color: #929292;
}

.box-model .box-location{
	font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 20px; 
}

.box-model .box-name{
    font-size: 1.8em;
    color: black;
    margin-bottom: 45px;
}

.box-model .box-job{
    font-size: 0.8em;
    line-height: 1.3;
}

.icon-check{
	font-size: 70px;
    color: #06b706;
    position: absolute;
    z-index: 1;
    margin-left: -90px;
    margin-top: -20px;
}

.slider-pager {
	font-size: 13px;
	position: relative;
}